WEB_PORT=58080
API_PORT=50052
DB_USER=bcrd_user
DB_PASS=password
DB_PROTOCOL=tcp
DB_HOST=bcrd_postgres
DB_PORT=55432
DB_NAME=bcrd
DB_SCHEMA=bcrd
LOCATION_NAME=Asia/Tokyo
API_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
SQL_DEBUG=0
ENV=local
